section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    z-index: 12
    ;
}

section .content {
    width: 100%;
    max-width: 1300px;
}

section .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.9rem;
    padding: 2rem 0rem;
}

section .heading .title {
    text-transform: capitalize;
    font-size: 36px;
    line-height: 36px;
    font-weight: 600;
    letter-spacing: 0px;
    color: #fff;
    text-align: center;

}

section .heading .subtitle {
    font-size: 20px;
    font-weight: 300;
    color: #eee;
}

.about .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 3rem;
    width: 100%;
}

.about .items .item,
.about .items .image {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about .items .image {
    padding: 2rem;
    padding-left: 0rem;
}

.about .items .image img {
    width: 100%;
    height: fit-content;
    object-fit: cover;
}

.about .item-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about .items .item .about-title {
    font-size: 46px;
    font-weight: 500;
    color: #fff;
}

.about .items .item .about-desc {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about .items .item .about-desc p {
    font-size: 16px;
    line-height: 24px;
    color: #eee;
}


.about .item-data {
    width: 100%;
    padding: 2rem 0rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.about .item-data .col {
    width: 100%;
    padding: 2rem 1rem;
    background-color: #ffffff44;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-top: 6px solid #000;

    cursor: pointer;

}

.about .item-data .col:hover {

    background-color: #00000077;
    border-top: 6px solid #fff;

}

.about .item-data .col h1 {
    text-align: center;
    font-size: 40px;

}

.about .item-data .col span {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.btn-explore{
    height: 7vh;
    color: #000;
    font-size: 22px;
    border-radius: 12px;
    z-index: 12;
}

.item .btn-explore:hover{
    scale: 1.13;
    border-radius: 12px;
}