body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
}
.Section_top{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    position: relative;
    background-image: url(asserts/pic-1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    animation: change 8s infinite ease-in-out;
    
}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-weight: 900;

}
#dull{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
}
.content h1{
    color: #fff;
    font-size: 60px;
    letter-spacing: 15px;
}
.content h1 span{
    color:white ;
    white-space: nowrap;
}
.content a{
    font-weight: 500;
    background: #95C11E;
    padding: 10px 24px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 20px;
}

@keyframes change{
    0%
    {
        background-image: url(asserts/pic-1.jpg);
        
    }
    20%
    {
        background-image: url(asserts/pic-2.jpg);
    }
    40%
    {
        background-image: url(asserts/pic-3.jpg);
    }
    60%
    {
        background-image: url(asserts/pic-4.jpg);
    }
    80%
    {
        background-image: url(asserts/pic-5.jpg);
    }
    100%
    {
        background-image: url(asserts/hero-1.jpg);
    }
}