.next {
    background-color: var(--primary-color);

}

.next .items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
    padding: 0rem 1rem;
}

.next .items .card {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    max-width: 350px;
}

.next .items .card .image {
    width: 100%;
    height: 340px;
    overflow: hidden;
    background: linear-gradient(to top, #000, transparent);
    position: relative;

}

.next .items .card .image::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 60%;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, var(--primary-color) 5%, transparent);
}

.next .items .card .image img {
    width: 100%;
    min-height: 100%;
    height: fit-content;
    object-fit: cover;
}

.next .card .content-card {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0rem 1rem;
    transform: translateY(-20px);
    color: #fff;
    z-index: 100;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}


.next .card .content-card h4 {
    font-size: 42px;
    font-family: 'Roboto';
    text-transform: capitalize;
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;
}

.next .card .content-card p {
    font-size: 16px;
    font-weight: 300;
    color: #eee;
}

.next .card .content-card .btn-read {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
    color: #eee;
    padding: 0.8rem 2.4rem;
    width: fit-content;
    background-color: transparent;
    border: 1.6px solid #eee;
    cursor: pointer;
    transition: all 1s ease-in;
    margin-top: 1rem;
}

.next .card .content-card .btn-read:hover {
    padding-left: 3rem;
    color: #fff;
    border: 1.6px solid #fff;

}

#page2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 12;
}

.item .card img {
    position: relative;
}

.card img {
    -webkit-mask-image: linear-gradient(#000,rgba(0,0,0,0));
    mask-image: linear-gradient(#000,rgba(0,0,0,0));
}